<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @client.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @client.body %>
</p>

<p>
  <strong>Project:</strong>
  <%= @client.project %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
